mat-card {
    margin: 20px 30px;
    flex: 1;
}

mat-card-header {
    display: flex;
    flex-direction: row;
    .paginator {
        display: flex;
        flex: 1;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.filter {
    min-height: 64px;
    padding: 8px 24px 0;
    display: flex;
    flex-direction: row;
    mat-form-field {
        flex: 1;
    }
}

mat-table {
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
